            <div class="panel panel-default" ng-class="{ 'panel-default': !teig.haupt, 'panel-success': teig.haupt }">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <div class="pull-right">
                            <span class="label label-primary">TA {{getTA()}}</span>
                            <span class="label label-info">{{(getSum() * hauptteig.faktor)|number:0 }} g gesamt</span>
                            <span class="label label-success">{{(getSum("mehl") * hauptteig.faktor)|number:0 }} g Mehl</span>
                            <span class="label label-success">{{(getSum("fluessig") * hauptteig.faktor)|number:0 }} g Flüssigkeit</span>
                            <a href="" class="btn btn-xs btn-default" ng-click="collapsed = !collapsed">
                                <i ng-if="collapsed" uib-tooltip="Ausklappen" class="fa fa-caret-down"></i>
                                <i ng-if="!collapsed" uib-tooltip="Einklappen" class="fa fa-caret-up"></i>
                            </a>
                        </div>
                        <a href="" editable-text="teig.name">
                            {{teig.name || "Kein Name"}}
                        </a>
                    </h2>
                </div>
                <div class="panel-body" ng-show="!collapsed">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-lg-1 text-right">Menge</th>
                                <th class="col-lg-1 text-right">Prozent</th>
                                <th class="col-lg-7">Zutat</th>
                                <th class="col-lg-2">Typ</th>
                                <th class="col-lg-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vorstufe in teig.vorstufen">
                                <td class="text-right">
                                    <span ng-if="hauptteig.faktor != 1">{{(getSum(null, vorstufe)*hauptteig.faktor)|number }} g</span>
                                    <div ng-if="hauptteig.faktor != 1"><small>({{getSum(null, vorstufe) || "0" }} g)</small></div>
                                    <div ng-if="hauptteig.faktor == 1">{{getSum(null, vorstufe) || "0" }} g</div>
                                </td>
                                <td class="text-right">{{getProzent(getSum(null,vorstufe))}} %</td>
                                <td>{{vorstufe.name}}</td>
                                <td>Vorstufe</td>
                                <td><button ng-click="teig.vorstufen.splice(index, 1)" class="btn btn-danger btn-xs" uib-tooltip="Vorstufe entfernen"><i class="fa fa-times"></i></button></td>
                            </tr>
                            <tr ng-repeat="zutat in teig.zutaten">
                                <td class="text-right">
                                    <span ng-if="hauptteig.faktor != 1">{{(zutat.menge*hauptteig.faktor)|number }} g</span>
                                    <a href="" e-required="true" editable-number="zutat.menge">
                                        <div ng-if="hauptteig.faktor != 1"><small>({{zutat.menge || "0" }} g)</small></div>
                                        <div ng-if="hauptteig.faktor == 1">{{zutat.menge || "0" }} g</div>
                                    </a>
                                </td>
                                <td class="text-right">{{getProzent(zutat.menge || 0)}} %</td>
                                <td><a href="" editable-text="zutat.name">{{zutat.name || "leer"}}</a></td>
                                <td><a href="" editable-select="zutat.typ" e-ng-options="t.label for t in ZutatenTyp">{{zutat.typ.label || "Sonstige" }}</a></td>
                                <td><button ng-click="teig.zutaten.splice(index, 1)" class="btn btn-danger btn-xs" uib-tooltip="Zutat entfernen"><i class="fa fa-times"></i></button></td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <a ng-show="teig.haupt" href="" editable-number="teig.faktor" e-required="true" e-step="0.1">x {{hauptteig.faktor}}</a>
                                </td>
                                <td></td>
                                <td>
                                    <button ng-click="neueZutat()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Neue Zutat hinzufügen...</button>
                                    <button ng-if="teig.haupt" ng-click="neueVorstufe()" class="btn btn-info btn-xs"><i class="fa fa-plus"></i> Neue Vorstufe hinzufügen...</button>
                                </td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
